<!DOCTYPE html>
<html>
  <head{% if page.language %} lang="{{ page.language }}"{% endif %}>
    <meta charset="utf-8">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="description" content="{{ site.description }}">
    <title>{% t title %} | {{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}/{{ page.language }}{{ page.url | replace:'index.html','' }}">
  </head>
<body>
  {{ content }}
  <p><small>{% t footnote %} | <a href="{{ site.baseurl }}/en/" title="English">en</a> | <a href="{{ site.baseurl }}/de/" title="German">de</a></small></p>
</body>
</html>
